*{
  box-sizing: border-box;
}

/* Utility */

.badge{
  padding: 2px;
  position: absolute;
  top: 0;
  right: 0;
}

.bg-green{
  background: green;
}

.bg-red{
  background: red;
}

/* /Utility */

.container{
  width: 1000px;
  margin: auto;
}

.product{
  display: inline-block;
  margin-top: 40px;
  position: relative;
  cursor: pointer;
}

.fas{
  color: red;
  position: absolute;
  bottom:10px;
  left: 50%;
  visibility: hidden;
}

.product:hover .fas{
  visibility: visible;
}
