*{
  box-sizing: border-box;
}

/* Utility */

.badge{
  padding: 2px;
  position: absolute;
  top: 0;
  right: 0;
}

.bg-green{
  background: green;
}

.bg-red{
  background: red;
}

/* /Utility */

.container{
  width: 1000px;
  margin: auto;
}

.product{
  display: inline-block;
  margin-top: 40px;
  position: relative;
  cursor: pointer;
}

/* Icona */

i{
  color: red;
  position: absolute;
  bottom:10px;
  left: 50%;

}

.hearts{
  display: none;
}

.product:hover .hearts{
  display: block;
}

/* /Icona */

/* Prova per il terminale */
