*{
  box-sizing: border-box;
}

.container{
  width: 1000px;
  margin: auto;
}

.product{
  display: inline-block;
  margin-top: 40px;
  position: relative;
}

.badge{
  padding: 2px;
  position: absolute;
  top: 0;
  right: 0;
}

.bg-green{
  background: green;
}

.bg-red{
  background: red;
}
